<div class="container show-content">
  <div class="game-box">
    <div class="row">
      <div class="col-lg-7">
        <img class="img-display" src="<%= @posts.cover %>">
      </div>
      <div class="col-lg-5">
        <h1 class="show-title"><%= @posts.title %></h1>
        <div class="row info-content">
          <div class="col-lg-6 box-info-game">
            <%= @posts.game %>
          </div>
          <div class="col-lg-6 box-info-user">
            <span>Created by: <%= @posts.username %></span>
          </div>
        </div>
        <hr class="h-line">
          <img class="user-avatar" src="<%= @posts.avatar %>">
        <div class="user-post">
          <%= @posts.content %>

        </div>

      </div>
    </div>
  </div>
</div>

