<div class="container show-content">
  <div class="game-box main-card">
    <div class="row">
      <div class="col-lg-7">
        <img class="img-display" src="<%= @posts.cover %>">
      </div>
      <div class="col-lg-5">
        <h1 class="show-title"><%= @posts.title %></h1>
        <div class="row info-content">
          <div class="col-lg-6 box-info-game">
            <%= @posts.game %>
          </div>
          <div class="col-lg-6 box-info-user">
            <span>Created by: <%= @posts.username %></span>
          </div>
        </div>
        <hr class="h-line">
          <img class="user-avatar" src="<%= @posts.avatar %>">
        <div class="user-post">
          <%= @posts.content %>
        </div>

        <div class="btns-actions">
        <%= link_to "Edit", edit_post_path(@posts), class: 'btn-my-edit' %>
        <%= link_to "Delete", destroy_post_path(@posts), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn-my-delete' %>
        </div>


      </div>
    </div>
    <div class="btn-join">
      <h2>
        <%= link_to "Join", new_post_comment_path(@posts) %>
      </h2>
    </div>
  </div>
</div>

