<%= render 'navbar' %>

<div class="container show-content mb-5">
  <div class="game-box main-card">
    <div class="row">
      <div class="col-lg-7">
        <img class="img-display" src="<%= @post.cover %>">
      </div>
      <div class="col-lg-5">
        <h1 class="show-title"><%= @post.title %></h1>
        <div class="row info-content">
          <div class="col-lg-6 box-info-game">
            <%= @post.game %>
          </div>
          <div class="col-lg-6 box-info-user">
            <span>By: <%= @post.username %></span>
          </div>
        </div>
        <hr class="h-line">
          <img class="user-avatar" src="<%= @post.avatar %>">
        <div class="user-post">
          <%= @post.content %>
        </div>

        <div class="btns-actions">
        <%= link_to "Edit", edit_post_path(@post), class: 'btn-my-edit' %>
        <%= link_to "Delete", destroy_post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn-my-delete' %>
        </div>


      </div>
    </div>
    <div class="btn-join">
      <h2>
        <%= link_to "Join", new_post_comment_path(@post) %>
      </h2>
    </div>
  </div>

  <div class="user-comment-box">
    <% @post.comment.each do |comment| %>
      <div class="user-content">
        <div class="avatar-box">
        <img src="<%= comment.avatar %>">
        <p class="username-comment"><%= comment.username %></p>
        </div>
        <p class="btn-edit-comment">Edit Comment</p>
        <p class="btn-delete-comment">Delete</p>
        <hr>
        <div class="user-comment">
          <p><%= comment.usercomment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

